<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>IparTube</title>
</head>
<body>

	<h1>IparTube</h1>

	<form action="index.html" th:action="@{/login}" method="post">
		<input name="username" placeholder="Email">
		<input name="password" placeholder="Contraseña">
		
		<button>Login</button>
		<span style="color: red" th:if="${param.error}">Usuario o contraseña incorrectos</span>
		<span th:if="${param.logout}">El usuario ha cerrado sesión correctamente</span>
	</form>

</body>
</html>