<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>IparTube</title>
</head>
<body>

	<h1>IparTube</h1>

	<form action="index.html" th:action="@{/nuevo}" method="post" th:object="${video}">
		<input th:field="*{id}" type="hidden">
		<input th:field="*{titulo}" placeholder="Título">
		<input th:field="*{url}" placeholder="URL">
		<textarea th:field="*{descripcion}" placeholder="Descripción"></textarea>
		
		<button>Guardar</button>
	</form>

</body>
</html>