<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>IparTube</title>
</head>
<body>

	<h1>IparTube</h1>

	<h2 th:text="${video.titulo}">TITULO</h2>

	<p th:text="${video.usuario.nombre}">USUARIO</p>

	<div>
		<iframe width="560" height="315"
			th:src="${video.url}"
			src="https://www.youtube.com/embed/SVGjOUnQZ58?si=Eq1QXPZe34TyVKAz"
			title="YouTube video player"
			allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
			referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
		<p th:text="${video.descripcion}">DESCRIPCION</p>
	</div>

</body>
</html>